[phases.setup]
# Menambahkan ekstensi PHP yang dibutuhkan Filament & Laravel
nixPkgs = ['php82', 'php82Extensions.intl', 'php82Extensions.zip', 'nodejs']

[phases.build]
# Menjalankan instalasi paket dan build CSS/Typography
cmds = [
    'composer install --optimize-autoloader --no-interaction',
    'npm install',
    'npm run build'
]

[phases.deploy]
# Menyiapkan database dan link storage saat online
cmds = [
    'php artisan migrate --force',
    'php artisan storage:link',
    'php artisan serve --host 0.0.0.0 --port $PORT'
]